@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.todo-list-container {
  display: flex;
  font-family: "Poppins", sans-serif;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 50%;
}
.input-fields {
  display: flex;
  /* width: 30%; */
}
